<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Responde Teste</title>
        <link href="../../estilo/cssRespondeTest.css" type="text/css" rel="stylesheet"/>
        <link href="../../estilo/estiloPagInicial.css" rel="stylesheet" type="text/css"/>
        <link href="../../estilo/estiloPagConfig.css" rel="stylesheet" type="text/css"/>
        <link href="../../estilo/estilo.css" rel="stylesheet" type="text/css"/>
        <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../estilo/cssRespondeTest.css" rel="stylesheet" type="text/css"/>

        <script src="../../assets/jQuery/jQuery-2.1.3.min.js"></script>
        <script src="../../js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../assets/dist/js/app.min.js" type="text/javascript"></script>
    </h:head>

    <h:body>

        <div class="container">
            <section class="content">
                <div class="banner-form">
                    <h:form>
                        <div class="row">

                            <div class="col-xs-4">
                                <h:outputLabel class="h1-format" value="Disciplina - 
                                               #{controladorRespTest.testeSelecionado.disciplina}" for="text"/>
                            </div>

                            <div class="col-xs-5">
                                <h:outputLabel class="h1-format" value="Assunto - 
                                               #{controladorRespTest.testeSelecionado.assunto}" for="text"/>
                            </div>

                            <div class="col-xs-3">
                                <h:outputLabel class="h1-format" value="Data de Entrega - " for="text"/>

                                <h:outputLabel class="h1-format" for="disciplina"
                                               value="#{controladorRespTest.testeSelecionado.dataEntrega}">
                                    <f:convertDateTime pattern="dd/MM/yyyy" />                                
                                </h:outputLabel>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <h:outputLabel class="h1-format" value="Pergunta 01 - #{controladorRespTest.questao1.enunciado} - "
                                    for="text"/>
                            
                            <h:outputLabel class="h1-format" value=" - Peso - #{controladorRespTest.questao1.pontuacao}"
                                    for="text"/>
                            
                            <br />
                            
                            <h:selectOneRadio value="#{controladorCorrecoes.respostaSelecionada1}" layout="pageDirection" class="h1-format">
                                <f:selectItems var="resp1" value="#{controladorRespTest.questao1.respostas}"
                                               itemValue="#{resp1.codigo}" itemLabel="#{resp1.conteudo}"/>
                            </h:selectOneRadio>
                        </div>
                        
                        <div class="row">
                            <h:outputLabel class="h1-format" value="Pergunta 02 - #{controladorRespTest.questao2.enunciado} - "
                                    for="text"/>
                            <h:outputLabel class="h1-format" value=" - Peso - #{controladorRespTest.questao2.pontuacao}"
                                    for="text"/>
                            <br />
                            
                            <h:selectOneRadio value="#{controladorCorrecoes.respostaSelecionada2}" layout="pageDirection" class="h1-format">
                                <f:selectItems var="resp2" value="#{controladorRespTest.questao2.respostas}"
                                               itemValue="#{resp2.codigo}" itemLabel="#{resp2.conteudo}"/>
                            </h:selectOneRadio>
                        </div>
                        
                        <div class="row">
                            <h:outputLabel class="h1-format" value="Pergunta 03 - #{controladorRespTest.questao3.enunciado} - "
                                    for="text"/>
                            <h:outputLabel class="h1-format" value=" - Peso - #{controladorRespTest.questao3.pontuacao}"
                                    for="text"/>
                            
                            <br />
                            
                            <h:selectOneRadio value="#{controladorCorrecoes.respostaSelecionada3}" layout="pageDirection" class="h1-format">
                                <f:selectItems var="resp3" value="#{controladorRespTest.questao3.respostas}"
                                               itemValue="#{resp3.codigo}" itemLabel="#{resp3.conteudo}"/>
                            </h:selectOneRadio>
                            
                        </div>
                        
                        <div class="row">
                            <h:outputLabel class="h1-format" value="Pergunta 04 - #{controladorRespTest.questao4.enunciado} - "
                                    for="text"/>
                            <h:outputLabel class="h1-format" value=" - Peso - #{controladorRespTest.questao4.pontuacao}"
                                    for="text"/>
                            
                            <br />
                            
                            <h:selectOneRadio value="#{controladorCorrecoes.respostaSelecionada4}" layout="pageDirection" class="h1-format">
                                <f:selectItems var="resp4" value="#{controladorRespTest.questao4.respostas}"
                                               itemValue="#{resp4.codigo}" itemLabel="#{resp4.conteudo}"/>
                            </h:selectOneRadio>
                        </div>
                        
                        <div class="row">
                            <h:outputLabel class="h1-format" value="Pergunta 05 - #{controladorRespTest.questao5.enunciado} - "
                                    for="text"/>
                            <h:outputLabel class="h1-format" value=" - Peso - #{controladorRespTest.questao4.pontuacao}"
                                    for="text"/>
                            
                            <br />
                            
                            <h:selectOneRadio value="#{controladorCorrecoes.respostaSelecionada5}" layout="pageDirection" class="h1-format">
                                <f:selectItems var="resp5" value="#{controladorRespTest.questao5.respostas}"
                                               itemValue="#{resp5.codigo}" itemLabel="#{resp5.conteudo}"/>
                            </h:selectOneRadio>
                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-xs-12">

                                <h:commandLink value="Enviar Respostas" class="button1" 
                                               action="#{controladorCorrecoes.respostasRecebidas()}"/>

                                <h:commandLink value="Cancelar" class="button1" 
                                               action="#"/>
                            </div>
                        </div>

                    </h:form>
                </div>
            </section>

        </div>

    </h:body>
</html>

