
body{
    margin: 0;
    padding: 0;
    /*background-color: #eee;*/    
}


.conteudo{
    width: 100%;
}


.menu{
    width: 100%;
    height: 50px;
    background-color: #03a9f4;
    box-shadow: 0px 0px 16px 0.00px rgba(0, 0, 0, 0.43);
    
}

.centro{
    min-width: 970px;      
}

.login, .cadastro{
    
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    margin-top: 100px;   
    background-color: #fff;
}

.formulario-login-usuario, .formulario-cadastro-usuario{
    padding-top: 50px;
    padding-left: 30px;
}

.formulario-login-usuario .campos-formulario{
    width: 500px;
}

.btn{
    background-image: none;
}

.botao-login{
    width: 500px;
}

.cDescricao{
    width: 450px;
}