.panel-config{
    width: 35em;
    margin-right: 1em;
}

.panel-usuarios{
    width: 30em;
    margin-left: 20em;
}

.message-text{
    margin-bottom:20px;
    resize: none;
}

a.buttonMsg {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 2px 2em 2px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:400;
}

.imageMembro{
    width: 10px;
    height: 10px;
}

.modalGrupo{
    width: 550px;
}

.panel-arquivo{
    width: 40em;
}

.alinhamentoTest{
    margin-left: 2em;
}