body { 
    background: url("../img/intro-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;

    padding:0 0;
    margin:0 0; 
    font-family: 'Raleway', sans-serif;
}

text-resposta{
    margin-top: 1em;
    font-size: 1em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;
}

.h1-format {
    margin-top: 1em;
    font-size: 1em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;
}

.header{
    margin-top: 1em;
    font-size: 1em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;    
}

a.button1 {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 10px 2em 10px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
}

a.button1:hover{
    background:transparent;
    border:1px solid #999999;
}

/*-- responsive-mediaquries --*/
@media(max-width:1024px){
    .caption {
        width: 63%;
        top: 31%;
        left: 19%;
    }

    .modal-content-one{
        width: 100%;
    }
}
@media(max-width:768px){
    .caption {
        width: 70%;
        top: 22%;
        left: 13%;
    }
}
@media(max-width:640px){
    .caption {
        width: 78%;
        top: 12%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height: 10px;
        width: 10px;
    }
}
@media(max-width:480px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}
@media(max-width:320px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}

/*-- responsive-mediaquries --*/
@media(max-width:1366px){
    .header {
        min-height: 745px;
    }
    .header-info {
        margin-top: 18em;
    }
    .buttons {
        margin-top: 7em;
    }
}

@media(max-width:1280px){
    .header {
        min-height: 690px;
    }
    .header-info {
        margin-top: 17em;
    }
}

@media(max-width:1024px){
    .header {
        min-height: 553px;
    }
    .header-info {
        margin-top: 12em;
    }
    .header-info h1-format {
        font-size: 2.5em;
    }

    .buttons {
        margin-top: 6em;
    }

    a.button {
        font-size: 1.4em;
        padding: 0.9em 2.2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1.4em;
        padding: 0.9em 2.2em;
    }

    .feature-header {
        width: 89%;
    }

    .buttons1 {
        margin-top: 2em;
    }
}

@media (max-width: 800px){

    .header {
        min-height: 424px;
    }

    .header-info {
        margin-top: 8em;
    }

    .header-info h1-format {
        font-size: 2.3em;
    }

    .buttons {
        margin-top: 3em;
    }

    a.button {
        font-size: 1.2em;
        padding: 0.9em 2.2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1.2em;
        padding: 0.9em 2.1em;
    }
}

@media (max-width: 640px){

    .header {
        min-height: 345px;
    }

    .header-info {
        margin-top: 5.5em;
    }

    .header-info h1-format {
        font-size: 2em;
    }

    .buttons {
        margin-top: 2.5em;
    }

    a.button {
        font-size: 1em;
        padding: 0.9em 2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1em;
        padding: 0.9em 1.8em;
    }
}

@media (max-width: 480px){

    .header {
        min-height: 255px;
    }

    .header-info {
        margin-top: 3.5em;
    }

    .header-info h1-format {
        font-size: 1.6em;
    }

    .buttons {
        margin-top: 2em;
    }

    a.button {
        font-size: 0.9em;
        padding: 0.7em 0.8em;
    }

    a.hvr-bounce-to-left {
        font-size: 0.9em;
        padding: 0.7em 0.7em;
    }

    .feature-header h2 {
        font-size: 1.4em;
    }

    .feature-header p {
        font-size: 0.89em;
        height: 57px;
        overflow: hidden;
        padding: 10px 0;
    }
}

@media (max-width: 320px){

    .header {
        min-height: 168px;
    }

    .header-info {
        margin-top: 1.5em;
    }

    .header-info h1-format {
        font-size: 1.4em;
    }

    .buttons {
        margin-top: 1em;
    }
}
