.formatar{
    background: url("../img/intro-bg.jpg") no-repeat center center fixed;
    background-color: rgb(100, 100, 100);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.linkFoto{
    
}

.modal-content-foto{
    background-color:whitesmoke;
    opacity: 0.9;
    width: 400px;
    left: auto;
}

img{
    border-radius: 100px;
}

.footer-css{
    background:#050e12;
    padding:2em 0;
    text-align:center;
}

.footer-css a img{
    display:inline-block
}

.copy-right{
    margin-top:1em;
}

.copy-right p {
    color: #7f7f7f;
    font-size: 1.1em;
    font-weight:600;
    line-height: 1.5em;
}

.copy-right p a{
    color: #7f7f7f;
}

a.button {
    margin-top: 1em;
    background:#008ed6;
    color: #000;
    display:inline-block;
    text-decoration:none;
    margin-right:2em;
    padding: 10px 2em 5px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
    margin-left: 1em;
}

a.button:hover{
    border:1px solid #999999;
}

.menuSair{
    background-color:#000;
    opacity: 0.8;
}