body { 
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;

    padding:0 0;
    margin:0 0; 
    font-family: 'Raleway', sans-serif;

}

.modal-content-one{
    width: 400px;
    left: auto;
    background: #F5F5F5;
}

.banner-form {
    background:rgba(0, 0, 0, 0.36);
    padding:1em;
    width: 80%;
    margin:4em auto 0 auto;
    width: 100%;
    margin: 2em 1em 0 0;
}

.text-cadastrar{
    margin-left: 1em;
    font-size: 1.5em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;
}

.text-formulario{
    font-size: 1.5em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 200;
}

label{
    font-size: 1em;
    color: #007ee5;
    text-transform: uppercase;
    font-weight: 300;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}

.form-group.last { margin-bottom:0px; }

.prettyline {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
}

.banner-form form input[type="text"] {
    width: 100%;
    padding: 12px 14px;
    margin-top: 0em;
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #008ed6;
    outline: none;
    font-weight: 400;
    display:inline-block;
    background:transparent;
    border-left:3px solid #0199e6;
    border-radius:3px;
    margin-right:1em;
}

.banner-form form input[type="password"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #008ed6;
    outline: none;
    font-weight: 400;
    display:inline-block;
    background:transparent;
    border-left:3px solid #0199e6;
    border-radius:3px;
    margin-right:1em;
}

.banner-form form input[type="submit"] {
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #fff;
    outline: none;
    font-weight: 600;
    background:#0199e6;
    border-radius:3px;
    border-left:5px solid #0199e6;
    border-right:5px solid #0199e6;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

a.button1 {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 10px 2em 10px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
}

a.button1:hover{
    background:transparent;
    border:1px solid #999999;
}

/* Responsive Style */

h1{
    padding-top: 1em;
}

.header{
    background-size:cover;
    min-height:870px;  
}

.header-info {
    text-align: center;
    margin-top: 30em;
}

.h-info {
    font-family: fantasy;
    margin-top: 1em;
    font-size: 3em;
    color: #007ee5;
    text-transform: uppercase;
    font-weight: 300;
}

a.button {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 10px 2em 13px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
}

a.button:hover{
    background:transparent;
    border:1px solid #999999;
}

.hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #008ed6;
    border:none;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
    color: white;
}

.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

a.view{
    background:transparent;
    color:#fff;
    font-size:1em;
    border:1px solid #999999;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 13px 2em 16px 2em;
    border:1px solid #008ed6;
    font-weight:600;
}

/*-- responsive-mediaquries --*/
@media(max-width:1024px){
    .caption {
        width: 63%;
        top: 31%;
        left: 19%;
    }

    .modal-content-one{
        width: 100%;
    }
}

@media(max-width:768px){
    .caption {
        width: 70%;
        top: 22%;
        left: 13%;
    }
}

@media(max-width:640px){
    .caption {
        width: 78%;
        top: 12%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height: 10px;
        width: 10px;
    }
}

@media(max-width:480px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}

@media(max-width:320px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}

/*-- responsive-mediaquries --*/
@media(max-width:1366px){
    .header {
        min-height: 745px;
    }
    .header-info {
        margin-top: 18em;
    }
    .buttons {
        margin-top: 7em;
    }
}

@media(max-width:1280px){
    .header {
        min-height: 690px;
    }
    .header-info {
        margin-top: 17em;
    }
}

@media(max-width:1024px){
    .header {
        min-height: 553px;
    }
    .header-info {
        margin-top: 12em;
    }
    .header-info h1 {
        font-size: 2.5em;
    }

    .buttons {
        margin-top: 6em;
    }

    a.button {
        font-size: 1.4em;
        padding: 0.9em 2.2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1.4em;
        padding: 0.9em 2.2em;
    }

    .feature-header {
        width: 89%;
    }

    .buttons1 {
        margin-top: 2em;
    }
}

@media (max-width: 800px){

    .header {
        min-height: 424px;
    }

    .header-info {
        margin-top: 8em;
    }

    .header-info h1 {
        font-size: 2.3em;
    }

    .buttons {
        margin-top: 3em;
    }

    a.button {
        font-size: 1.2em;
        padding: 0.9em 2.2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1.2em;
        padding: 0.9em 2.1em;
    }
}

@media (max-width: 640px){

    .header {
        min-height: 345px;
    }

    .header-info {
        margin-top: 5.5em;
    }

    .header-info h1 {
        font-size: 2em;
    }

    .buttons {
        margin-top: 2.5em;
    }

    a.button {
        font-size: 1em;
        padding: 0.9em 2em;
    }

    a.hvr-bounce-to-left {
        font-size: 1em;
        padding: 0.9em 1.8em;
    }
}

@media (max-width: 480px){

    .header {
        min-height: 255px;
    }

    .header-info {
        margin-top: 3.5em;
    }

    .header-info h1 {
        font-size: 1.6em;
    }

    .buttons {
        margin-top: 2em;
    }

    a.button {
        font-size: 0.9em;
        padding: 0.7em 0.8em;
    }

    a.hvr-bounce-to-left {
        font-size: 0.9em;
        padding: 0.7em 0.7em;
    }

    .feature-header h2 {
        font-size: 1.4em;
    }

    .feature-header p {
        font-size: 0.89em;
        height: 57px;
        overflow: hidden;
        padding: 10px 0;
    }
}

@media (max-width: 320px){

    .header {
        min-height: 168px;
    }

    .header-info {
        margin-top: 1.5em;
    }

    .header-info h1 {
        font-size: 1.4em;
    }

    .buttons {
        margin-top: 1em;
    }
}