.formatar{
    background: url("../img/intro-bg.jpg") no-repeat center center fixed;
    background-color: rgb(100, 100, 100);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

h4{
    color: green;
}

.buttons{
    padding-left: 100px;
}

.modal-content-one{
    opacity: 0.7;
}

.text-cadastrar{
    margin-left: 1em;
    font-size: 1.5em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;
}

.h-info {
    font-size: 2em;
    color: #007ee5;
    text-transform: initial;
    font-weight: 300;
}

.banner-form form{
    background:rgba(0, 0, 0, 0.36);
    padding:2em;
    width: 88%;
    margin:4em auto 0 auto;
}

.banner-form form input[type="text"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #fff;
    outline: none;
    font-weight: 400;
    display:inline-block;
    background:transparent;
    border-left:3px solid #0199e6;
    border-radius:3px;
    margin-right:1em;
}

.banner-form form input[type="password"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #fff;
    outline: none;
    font-weight: 400;
    display:inline-block;
    background:transparent;
    border-left:3px solid #0199e6;
    border-radius:3px;
    margin-right:1em;
}

.banner-form form input[type="password"] {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #0199e6;
    font-size: 1.2em;
    color: #fff;
    outline: none;
    font-weight: 400;
    display:inline-block;
    background:transparent;
    border-left:3px solid #0199e6;
    border-radius:3px;
    margin-right:1em;
}

a.button1 {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 10px 2em 10px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
}

a.button1:hover{
    background:transparent;
    border:1px solid #999999;
}
