a.buttonSelecTest {
    background:#008ed6;
    color:#fff;
    font-size:1em;
    display:inline-block;
    text-decoration:none;
    margin-right:1em;
    padding: 8px 2em 8px 2em;
    border-radius:3px;
    border:1px solid #008ed6;
    font-weight:600;
}

a.buttonSelecTest:hover{
    background:transparent;
    border:1px solid #999999;
}

/*-- responsive-mediaquries --*/
@media(max-width:1024px){
    .caption {
        width: 63%;
        top: 31%;
        left: 19%;
    }

    .modal-content-one{
        width: 100%;
    }
}
@media(max-width:768px){
    .caption {
        width: 70%;
        top: 22%;
        left: 13%;
    }
}
@media(max-width:640px){
    .caption {
        width: 78%;
        top: 12%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height: 10px;
        width: 10px;
    }
}
@media(max-width:480px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}
@media(max-width:320px){
    .caption {
        width: 70%;
        top: 14%;
        left: 13%;
    }
    .callbacks_tabs a:after {
        height:4px;
        width: 4px;
    }
    ul.callbacks_tabs.callbacks1_tabs {
        bottom: 10px;
        left: 4px;
    }
}

/*-- responsive-mediaquries --*/
@media(max-width:1366px){
    .buttons {
        margin-top: 7em;
    }
}

@media(max-width:1280px){
    .header {
        min-height: 690px;
    }
    .header-info {
        margin-top: 17em;
    }
}

@media(max-width:1024px){

    .buttons1{
        margin-top: 6em;
    }

    .buttons1 {
        font-size: 1.4em;
        padding: 0.9em 2.2em;
    }

    .buttons1 {
        margin-top: 2em;
    }
}

@media (max-width: 800px){

    .buttons1 {
        margin-top: 3em;
    }

    .buttons1 {
        font-size: 1.2em;
        padding: 0.9em 2.2em;
    }
}

@media (max-width: 640px){
    
    .buttons1 {
        margin-top: 2.5em;
    }

    .buttons1 {
        font-size: 1em;
        padding: 0.9em 2em;
    }
}

@media (max-width: 480px){

    .buttons1{
        margin-top: 2em;
    }

    .buttons1 {
        font-size: 0.9em;
        padding: 0.7em 0.8em;
    }
}

@media (max-width: 320px){

    .buttons1 {
        margin-top: 1em;
    }
}