<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords"/>

        <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="estilo/estiloPagLogin.css" type="text/css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css"/>
        <script src="js/jquery-1.11.2.js" type="text/javascript"/>
        <script src="js/bootstrap.js" type="text/javascript"/>
    </h:head>
    <h:body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-7">
                    <div class="banner-form">

                        <div class="panel-body">
                            <h:form class="form-horizontal" role="form">
                                <p><h:outputText value="#{controladorProfessor.mensagem}" 
                                                  id="erroLogin" class="text-danger"/></p>
                                <div class="form-group">
                                    <div class="wow fadeInRight" data-wow-delay="0.5s" type="text">
                                        <h:inputText value="#{controladorProfessor.professor.login}" 
                                                     class="form-control" pt:placeholder="Login" id="login"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="wow fadeInRight" data-wow-delay="0.5s" type="password">
                                        <h:inputSecret value="#{controladorProfessor.professor.senha}" 
                                                       class="form-control" pt:placeholder="Senha" id="senha"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"/>
                                                Lembrar Senha
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group last">
                                    <div class="col-sm-12">
                                        <h:commandLink value="Entrar" class="button1"
                                                       action="#{controladorProfessor.loginProfessor()}">
                                            <f:ajax execute="login senha" render="erroLogin"/>
                                        </h:commandLink>
                                    </div>
                                </div><br />
                            </h:form>

                            <!--Modal Professor-->
                            <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content modal-content-one">

                                        <br />
                                        <div class="bs-example bs-example-tabs">
                                            <ul id="myTab" class="nav nav-tabs">
                                                <li class="text-cadastrar">Cadastre-se Professor</li>
                                            </ul>
                                        </div>

                                        <div class="modal-body">
                                            <div id="myTabContent" class="tab-content">
                                                <div class="tab-pane fade active in" id="signup">
                                                    <h:form class="form-horizontal" prependId="false">
                                                        <p><h:outputText value="#{controladorProfessor.mensagem}" 
                                                                          id="loginInvalido" class="text-danger"/></p>
                                                        <fieldset>

                                                            <div class="control-group">
                                                                <label class="control-label text-formulario" for="Email"> </label>
                                                                <div class="controls">
                                                                    <h:inputText value="#{controladorProfessor.professor.nome}" 
                                                                                 class="form-control wow fadeInRight text-success" pt:placeholder="Nome" id="nameUsr"/>
                                                                </div>
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="control-label" for="Email"> </label>
                                                                <div class="controls">
                                                                    <h:inputText value="#{controladorProfessor.professor.email}" class="form-control"
                                                                                 pt:placeholder="Email" id="emailUsr"/>
                                                                </div>
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="control-label" for="Email"> </label>
                                                                <div class="controls">
                                                                    <h:inputText value="#{controladorProfessor.professor.login}" class="form-control" 
                                                                                 pt:placeholder="Login" id="loginUsr"/>
                                                                </div>
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="control-label" for="Email"> </label>
                                                                <div class="controls">
                                                                    <h:inputSecret value="#{controladorProfessor.professor.senha}" class="form-control" 
                                                                                   pt:placeholder="***********" id="senhaUsr"/>
                                                                </div>
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="control-label" for="Email"></label>
                                                                <div class="controls">
                                                                    <h:commandButton value="Cadastrar" action="#{controladorProfessor.salvarProfessor()}"
                                                                                     class="btn btn-success btn-block">
                                                                        <f:ajax execute="nameUsr emailUsr loginUsr senhaUsr" render="loginInvalido"/>
                                                                    </h:commandButton>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </h:form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <center>
                                                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <br /><br /><br />
                <div class="header-info">
                    <h1 class="h-info">Compartilhe Conhecimento</h1>
                    <div class="buttons">
                        <a class="button" href="#signup" data-toggle="modal" data-target="#myModal">Cadastre-se Professor</a>
                    </div>
                </div>

            </div>
        </div>
    </h:body>
</html>

