<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Gerenciador</title>
        <meta charset="UTF-8"></meta>

        <link href="../../estilo/estiloPagInicial.css" rel="stylesheet" type="text/css"/>
        <link href="../../estilo/estiloPagConfig.css" rel="stylesheet" type="text/css"/>
        <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" /> 
        <link href="../../fonts/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

        <script src="../../assets/jQuery/jQuery-2.1.3.min.js"></script>
        <script src="../../js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../assets/dist/js/app.min.js" type="text/javascript"></script>
    </h:head>

    <h:body class="skin-blue">

        <div class="wrapper">
            <header class="main-header">
                <a href="../../moduloProfessor/paginaInicialProfessor.xhtml" class="logo"><b>Professor - </b>LTE</a>

                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle"  data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="../assets/dist/img/user7-128x128.jpg" class="user-image" alt="User Image"/>
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">#{usuario.nome}</span>
                                </a>
                                <ul class="dropdown-menu menuSair">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">

                                        <p:graphicImage id="imgPerfil2" value="#{controladorProfessor.content}"/>

                                        <p>
                                            #{usuario.nome} - Professor
                                            <small>Membro desde de #{controladorProfessor.mes} de 
                                                #{controladorProfessor.ano}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>

                                        <div class="col-xs-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>

                                        <div class="col-xs-4 text-center">
                                            <a href="#">Amigos</a>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <h:form>

                                        <li class="user-footer">
                                            <div class="pull-left">
                                                <a href="paginaConfig.xhtml" class="button">Perfil</a>
                                            </div>
                                            <div class="pull-right">
                                                <h:commandLink value="Sair" class="button"
                                                               action="#{controladorProfessor.logout()}"/>
                                            </div>
                                        </li>
                                        <br /><br /><br />

                                    </h:form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <p:graphicImage id="imgPerfil3" value="#{controladorProfessor.content}"/>
                        </div>
                        <div class="pull-left info">
                            <p>#{usuario.nome}</p>
                            <!-- Status -->
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>

                    <!-- search form (Optional) -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Pesquisar..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->

                    <ul class="sidebar-menu">
                        <li class="header">Opções</li>

                        <li class="treeview">
                            <li class="treeview">
                                <a href="#"><span>Testes</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="disciplinas/cadQuestoes.xhtml">Cadastrar Questões</a></li>
                                    <li><a href="disciplinas/cadExercicio.xhtml">Cadastrar Teste</a></li>
                                    <li><a href="disciplinas/testesCadastrados.xhtml">Testes Elaborados</a></li>
                                    <li><a href="disciplinas/resultadosTestes.xhtml">Resultados Testes</a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#"><span>Arquivos</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#">Cadastrar Arquivo</a></li>
                                    <li><a href="#">Submeter Arquivo</a></li>
                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#"><span>Grupos</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="cadGrupo.xhtml">Criar Grupo</a></li>
                                    <li><a href="gruposGerenciados.xhtml">Gerenciador</a></li>
                                </ul>
                            </li>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper formatar">
                <!-- Main content -->
                <section class="content">
                    <div class="banner-form">
                        <h:form enctype="multipart/form-data">
                            <h4 class="h-info" id="myModalLabel">Meus Grupos</h4>

                            <h:dataTable class="table table-responsive" border="1" 
                                         value="#{gerenciadorGrupo.gruposCriados()}" var="grupo">

                                <h:column>
                                    <f:facet name="header">Grupo</f:facet>
                                    <h:commandLink value="#{grupo.nome}" action="#{gerenciadorGrupo.pagInicialGrupo(grupo)}"/>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">Descrição</f:facet>
                                    <h:outputLabel value="#{grupo.descricao}"/>
                                </h:column>

                            </h:dataTable>
                            
                        </h:form>
                    </div>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
        </div>
    </h:body>
</html>

